<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Of Throne</title>
</head>

<style>
    #demo {
        font-family: Arial, sans-serif;
    }

    .titre {
        color: hsl(0, 44%, 34%);
    }

    h1 {
        font-family: Papyrus, sans-serif;
        margin: 5%;
        text-align: center;
    }
</style>

<body>
<div id="demo">
    <div class="titre">
        <h1>Informations sur les maisons et les personnages de Game Of Throne</h1>
    </div>
    <template v-for="choice in choices">
            <input
                    type="radio"
                    :id="choice"
                    :value="choice"
                    name="choice"
                    v-model="currentChoice"
            />
        <label :for="choice">{{ choice }}</label>
    </template>
    <p>Vous avez choisi d'afficher : {{ currentChoice }}</p><br>
    <div v-if="currentChoice === 'houses'" v-for="data in datas">
            <h3>{{ data.name }}</h3>
            <p>region = {{data.region}}</p><br>
    </div>
    <div v-if="currentChoice === 'characters'" v-for="data in datas">
        <div v-if="data.name !== '' && data.name !==null">
            <h3>{{data.name}}</h3>
            <p>Surnom le plus donné: {{data.aliases[0]}}</p><br/>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const apiURL =
        "https://anapioficeandfire.com/api/";

    Vue.createApp({
        data() {
            return {
                choices: ["houses", "characters"],
                currentChoice: "houses",
                datas: null,
            };
        },
        created: function () {
            this.fetchDataPromise();
        },
        watch: {
            currentChoice: "fetchDataPromise",
        },
        methods: {
            fetchDataPromise: function () {
                const self = this;
                axios
                    .get(apiURL + self.currentChoice)
                    .then(function (response) {
                        console.log(response.data);
                        self.datas = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
        },
    }).mount("#demo");
</script>
</body>
</html>